// @Author: Andree Ray <andreeray>
// @Date:   2018-01-07T14:46:44+01:00
// @Email:  andreeray@live.com
// @Filename: style.scss
// @Last modified by:   andreeray
// @Last modified time: 2018-01-07T19:01:19+01:00

html, body {
    background: #333;
    color: #eee;
    a {
        color: #eee;
        text-decoration: none;

    }
    small {
        font-style: italic;
    }
}
