// @Author: Andree Ray <andreeray>
// @Date:   2018-02-01T11:18:42+01:00
// @Email:  andreeray@live.com
// @Filename: style.scss
// @Last modified by:   andreeray
// @Last modified time: 2018-02-01T13:10:52+01:00

$font-stack:  Helvetica, sans-serif;
$primary-color: #fff;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
